## Deliverable 2. Create a Customer Travel Destinations Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import matplotlib.pyplot as plt

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lumphat,KH,13.4878,106.9816,72.05,99,100,2.17,overcast clouds
1,1,Vaini,TO,-21.2000,-175.2000,75.36,78,20,13.80,few clouds
2,2,Berlevag,NO,70.8578,29.0864,64.40,82,40,8.05,scattered clouds
3,3,Rikitea,PF,-23.1203,-134.9692,72.30,73,55,3.74,broken clouds
4,4,Neuquen,AR,-38.9516,-68.0591,62.49,8,0,0.00,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                346
City                   346
Country                346
Lat                    346
Lng                    346
Max Temp               346
Humidity               346
Cloudiness             346
Wind Speed             346
Current Description    346
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df.dropna()

In [7]:
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lumphat,KH,13.4878,106.9816,72.05,99,100,2.17,overcast clouds
1,1,Vaini,TO,-21.2000,-175.2000,75.36,78,20,13.80,few clouds
3,3,Rikitea,PF,-23.1203,-134.9692,72.30,73,55,3.74,broken clouds
8,8,Kavieng,PG,-2.5744,150.7967,82.67,73,57,11.68,broken clouds
11,11,Havelock,US,34.8791,-76.9013,75.92,94,100,12.66,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
671,671,Mae Sai,TH,20.4335,99.8762,71.17,98,98,2.46,overcast clouds
673,673,Bonthe,SL,7.5264,-12.5050,76.57,85,100,11.18,light rain
675,675,Umm Kaddadah,SD,13.6017,26.6876,78.21,67,73,11.30,broken clouds
677,677,Westport,US,41.1415,-73.3579,84.49,57,57,10.00,broken clouds
678,678,Manadhoo,MV,5.7667,73.3833,81.39,77,100,9.22,overcast clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lumphat,KH,72.05,overcast clouds,13.4878,106.9816,
1,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,
3,Rikitea,PF,72.30,broken clouds,-23.1203,-134.9692,
8,Kavieng,PG,82.67,broken clouds,-2.5744,150.7967,
11,Havelock,US,75.92,overcast clouds,34.8791,-76.9013,
13,Avarua,CK,75.25,clear sky,-21.2078,-159.7750,
14,Bathsheba,BB,83.01,few clouds,13.2167,-59.5167,
18,Guerrero Negro,MX,77.95,broken clouds,27.9769,-114.0611,
22,Thompson,CA,78.96,few clouds,55.7435,-97.8558,
23,Murud,IN,77.36,overcast clouds,18.3258,72.9650,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
        
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))